.membership {
    display: flex;
    gap: 24px;
    width: 1114px;
}

.membership_card {
    width: 100%;
    max-width: 545px;
    height: 395px;
    border-radius: 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.membership_card.renew{
    border: 1px solid var(--Green--100);
}

.membership_card_header {
    display: flex;
    align-items: self-start;
    gap: 8px;
}

.membership_type {
    font-size: 24px;
    font-weight: 700;
    color: var(--white-100);
}

.membership_status_btn {
    background-color: var(--Green--100);
    color: rgba(2, 2, 2, 1);
    border: none;
    padding: 0px 8px;
    border-radius: 51px;
    font-weight: 500;
    font-size: 10px;
    cursor: default;
    width: 44px;
    height: 14px;
}

.membership_amount {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.membership_stake {
    font-size: 32px;
    font-weight: 700;
    color: var(--white-100);
}

.membership_token {
    color: var(--white-80);
    font-size: 12px;
    font-weight: 500;
}

.membership_duration {
    font-size: 14px;
    color: var(--white-60);
    font-weight: 500;

}

.membership_benefits_title {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-80);
}

.membership_benefits {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.benefit_item {
    display: flex;
    align-items: center;
    gap: 8px;

}

.benefit_text {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-100);
}

.benefit_text.cross {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-60);
}


.benefit_icon {
    font-size: 18px;
}

.benefit_icon.check {
    color: var(--Green--100);
    /* Green */
}

.benefit_icon.cross {
    color: var(--white-60);
}

.membership_action_btn {
    padding: 12px 16px;
    border-radius: 51px;
    width: 205px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;

}

.membership_action_btn.renew {
    background-color: transparent;
    color: var(--white-80);
    border: 2px solid var(--white-80);

}

.membership_action_btn.Upgrade {
    background-color: var(--Green--100);
    color: rgba(0, 0, 0, 1);
    border: none;

}