.tree_wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tree_card {
    height: 398px;
    width: 1114px;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tree_heading {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-100);
}

.tree_card_container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}

/* tree_card_item */

.tree_card_item {
    z-index: 5;
    width: 232.5px;
    height: 310px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.tree_card_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    height: 64px;
    padding: 16px;
}

.tree_level_section {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.tree_level_icon {
    font-size: 24px;
}

.tree_level_info p {
    font-size: 10px;
    font-weight: 500;
}

.tree_progress_bar {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 100px;
    height: 8px;
    width: 75px;
    margin-top: 4px;
}

.tree_progress_fill {
    height: 100%;
    border-radius: 100px;
}

.tree_card_bottom {
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 24px 24px;
    padding: 12px;
    height: 69px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tree_name {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-100);
}

.tree_yield {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-80);
}


/* tree_stake_controls */
.tree_stake_controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 405.5px;
    gap: 32px;
}

.tree_dropdown_section,
.tree_balance_section,
.tree_input_section {
    display: flex;
    flex-direction: column;
    max-width: 261px;
    gap: 8px;
}

.select_nft {
    color: var(--white-80);
    font-size: 18px;
    font-weight: 700;
}

.tree_select,
.tree_input {
    padding: 8px 16px;
    border-radius: 33px;
    background: transparent;
    border: 1px solid var(--white-60);
}

.tree_input::placeholder {
    color: var(--white-80);
}

.tree_button {
    padding: 12px 16px;
    border: none;
    border-radius: 51px;
    width: 205px;
    height: 44px;
    background-color: var(--Green--100);
    color: rgba(35, 48, 16, 1);
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.tree_rewards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 244px;
    width: 332px;
}

.tree_rewards p {
    color: var(--white-80);
    font-size: 18px;
    font-weight: 700;

}

.tree_reward_buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tree_reward_item {
    position: relative;
    padding: 8px 8px 8px 16px;
    border-radius: 39px;
    background-color: transparent;
    border: 1px solid var(--border-09);
    color: var(--white-100);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 332px;
    height: 52px;
}

.tree_claim {
    /* margin-left: 12px; */
    padding: 8px 16px;
    border-radius: 51px;
    background: transparent;
    color: var(--white-80);
    font-weight: bold;
    border: 1px solid var(--border-09);
}

.allRewards_btn {
    padding: 12px 16px;
    border-radius: 51px;
    background-color: var(--white-100);
    border: none;
    color: rgba(35, 48, 16, 1);
    font-size: 16px;
    font-weight: 700;
    width: 205px;
    height: 44px;
}


/* tree_stats */

.tree_stats {
    width: 1114px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.tree_stat_card {
    height: 100%;
    width: 355.33px;
    border-radius: 16px;
    padding: 8px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.tree_stat_title {
    font-size: 14px;
    font-weight: 500;
    color: var(--white-80);
}

.tree_stat_value {
    font-size: 24px;
    font-weight: 700;
    color: var(--white-100);
}

.tree_stat_unit {
    font-size: 12px;
    font-weight: 500;
    margin-left: 4px;
    color: var(--white-80);
}

.tree_stat_desc {
    font-size: 10px;
    font-weight: 500;
    color: var(--white-60);

}





/* tree_table_wrapper */


.tree_table_wrapper {
    padding: 24px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 1114px;
    height: 428px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.tree_table_wrapper::-webkit-scrollbar {
    display: none;
}

.tree_table_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tree_table_title {
    font-size: 18px;
    font-weight: 700;
    color: var(--white-100);
}

.tree_table_nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tree_nav_btn {
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 58px;
    background-color: var(--white-25);
    color: var(--white-100);
    cursor: pointer;
    transition: all 0.2s;
}

.tree_nav_btn:hover {
    background: var(--white-50);
}

/* table */

.tree_table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.tree_table_image_wrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

.tree_table_icon_auto {
    width: auto;
    height: 32px;
}


.tree_table thead {
    border-top: 1px solid var(--border-09);
    height: 52px;
}


.tree_table tr {
    border-bottom: 1px solid var(--border-09);
    height: 48px;
    color: var(--white-100);

}


.tree_table th {
    font-size: 12px;
    font-weight: 500;
    color: var(--white-60);
    padding: 8px 16px;
    text-align: left;
    vertical-align: middle;
}

.tree_table td {
    padding: 8px 16px;
    font-size: 14px;
    color: var(--white-100);
    font-weight: 500;
}

.tree_table_name {
    display: flex;
    align-items: center;
    gap: 16px;
}

.tree_table_nftname {
    font-weight: 500;
    font-size: 14px;
    color: var(--white-100);
}

.tree_status_active {
    background-color: transparent;
    color: var(--GreenSecondary-100);
    padding: 0px 10px;
    border-radius: 12px;
    width: 54px;
    height: 18px;
    border: 1px solid var(--GreenSecondary-100);
    font-weight: 500;
    font-size: 12px;
}

.tree_table_actions {
    display: flex;
    gap: 8px;
    align-items: center;
}

.tree_action_icon {
    cursor: pointer;
    color: var(--white-90);
    transition: transform 0.2s;
}