.sidebar {
  height: 100vh;
  width: 262px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 45px;
}

.sidebar_header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.sidebar_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}


.sidebar_nav {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sidebar_item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  width: 214px;
  transition: background 0.3s ease;
  cursor: pointer;
  color: #fff;
}

.sidebar_item:hover {
  background-color: #CCF693;
  color: black;
}

.sidebar_item.active {
  color: black;
  background-color: #ADF151;
  font-weight: 500;

}

.sidebar_icon {
  font-size: 18px;
  margin-right: 12px;
}

.sidebar_text {
  font-size: 16px;
  font-weight: 500;
}