.dashboard {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 1114px;
    gap: 8px;

}

.left {
    width: 545px;
    height: 213px;
    border-radius: 24px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.total {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-60);
}

.left h1 {
    font-size: 40px;
    font-weight: 700;
    color: var(--Green--100);
}



.left_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 400;
    color: var(--white-60);

}

.percent {
    color: var(--GreenSecondary-100);
    font-weight: bold;
    font-size: 14px;
    font-weight: 400;
}

.arrow_icon {
    height: 20px;
    width: 20px;
    color: var(--GreenSecondary-100);
}



.right {
    width: 545px;
    height: 213px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 4px;

}

.cart_right_img {
    flex-shrink: 0;
    width: auto;
    height: 165px;
    object-fit: contain;
}

.right_to_right {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tier_label {
    font-weight: 400;
    font-size: 14px;
    color: var(--white-60);
}

.tier_name {
    font-size: 24px;
    font-weight: 600;
    color: var(--white-100);
}

.tier_goal {
    font-size: 10px;
    font-weight: 400;
    color: var(--white-60);
}

.progress_bar_container {
    width: 320px;
    height: 4px;
    background-color: #414442;
    border-radius: 100px;
    overflow: hidden;
    margin: 8px 0;
}

.progress_bar_fill {
    height: 100%;
    background-color: var(--Green--100);
    border-radius:  8px;
    transition: width 0.3s ease-in-out;
}

.plant_tree {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--Green--100);
}

.plant_tree p {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-60);

}

.plant_btn {
    color: var(--white-80);
    height: 36px;
    width: 195px;
    padding: 8px 16px;
    border: none;
    border-radius: 33px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
}



/* card-container */

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 1114px;
}

.cards_map {
    width: 260.5px;
    height: 136px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card_title {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-60);
}

.card_value {
    font-size: 32px;
    font-weight: 700;
    font-weight: bold;
    color: var(--white-100);
}

.value_span {
    font-weight: 500;
    font-size: 16px;
    color: var(--white-60);

}

.card_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    color: var(--white-60);
    gap: 4px;
}

.card_footer p {
    display: flex;
    align-items: center;
    gap: 4px;
}


/* certification_grap */

.certification_graph {
    display: flex;
    gap: 24px;
    width: 1096.5px;
    height: 358px;
}

.certification {
    width: 260.5px;
    height: 358px;
    border-radius: 24px;
    padding: 24px;

}

.latest {
    font-size: 14px;
    font-weight: 400;
    color: var(--white-80);
    line-height: 21px;
}

.certification_cart {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: 8px;
}

.certification_img {
    border-radius: 50%;
}

.certification_right {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.verification {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-100);
    line-height: 24px;
}

.number {
    color: var(--white-60);
    font-size: 14px;
    font-weight: 400;
}

.issued {
    color: var(--white-60);
    font-size: 12px;
    font-weight: 400;
}

.ready {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: var(--white-60);
    margin-top: 10px;
}

.certifications_btn {
    color: var(--white-80);
    height: 36px;
    width: 212.5px;
    padding: 8px 16px;
    border: none;
    border-radius: 33px;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    margin-top: 45px;

}

.graph123 {
    width: 812px;
    height: 358px;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;


}

.graph_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.market {
    color: var(--white-100);
    font-size: 18px;
    font-weight: 500;
}

.market_value {
    color: var(--Green--100);
    font-size: 18px;
    font-weight: 500;
}

.recharts-area-area {
    filter: blur(4px);
}